<template>
<div class="container">
<!-- 設定按鈕-->
    <div class="buttonArea">
      <input class="mx-1" id="showButtons" type="checkbox" :checked="!showButtons" v-model="showButtons" />
      <label class="text-sm-right" for="showButtons">顯示設定</label><br/>
        <div class="buttons" v-show="showButtons">
          <button class="btn btn-outline-danger mr-4" data-to1ggle="modal" data-target="#resultList" v-if="config.autoStop">轉出結果</button>
          <button class="btn btn-outline-info" data-toggle="modal" data-target="#dataSetting">轉盤設定</button>
        </div>
    </div>
     <!-- 轉出結果視窗-->
    <div class="modal fade" id="resultList" v-if="config.autoStop">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">轉出結果</h5><button class="close" data-dismiss="modal"><span>&times;</span></button></div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm">
                            <thead class="text-center">
                                <tr>
                                    <th class="text-center" scope="col">No</th>
                                    <th class="text-center" scope="col">內容</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr v-for="result, index in resultList">
                                    <td class="text-center">{{ index + 1 }}</td>
                                    <td class="text-center">{{ result }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-sm btn-outline-secondary ml-2 px-3" @click.prevent="resultList = []">清空資訊</button>
                  <button class="btn btn-sm btn-secondary ml-2 px-3" data-dismiss="modal">關閉      </button>
                </div>
            </div>
        </div>
    </div>
     <!-- 轉盤資訊設定視窗-->
    <div class="modal fade" id="dataSetting" :style="{'opacity': editAreaOpacity}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">轉盤資訊設定</h5>
                    <label class="text-sm ml-3">| 背景透明度:</label>
                    <input type="range" min="0.1" max="1" step="0.1" v-model="editAreaOpacity" />
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                     <!-- 左側編輯區-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item text-center"><a class="nav-link active" data-toggle="tab" href="#edit-data" role="tab">區塊設定</a></li>
                        <li class="nav-item text-center"><a class="nav-link" data-toggle="tab" href="#edit-config" role="tab">轉盤設定</a></li>
                        <li class="nav-item text-center"><a class="nav-link" data-toggle="tab" href="#dataList" role="tab">設定集</a></li>
                    </ul>
                    <div class="tab-content">
                        <!--  區塊設定 -->
                        <div class="tab-pane fade show active py-3 px-1" id="edit-data" role="tabpanel">
                            <form class="form-inline" @submit.prevent="">
                                <div class="form-group w-100 mb-2"><label class="mr-2">編輯模式:</label>
                                    <div class="form-check ml-4 ml-sm-0 mr-sm-2"><input class="form-check-input" id="editBySet" type="radio" name="editMode" :value="true" v-model="giftEditMode" checked="checked" /><label for="editBySet">單塊新增</label></div>
                                    <div class="form-check ml-4 ml-sm-0"><input class="form-check-input" id="editByData" type="radio" name="editMode" :value="false" v-model="giftEditMode" /><label for="editByData">資料編輯(Array-Object)</label></div>
                                </div>
                                <!--  單塊新增模式-->
                                <div class="editBySet w-100" v-if="giftEditMode">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-sm mt-1">
                                            <thead class="text-center">
                                                <tr>
                                                    <th scope="col" width="10%">區塊占比</th>
                                                    <th scope="col" width="15%">背景顏色</th>
                                                    <th scope="col" width="15%">文字顏色</th>
                                                    <th scope="col" width="40%">文字內容</th>
                                                    <th scope="col" width="10%">文字大小</th>
                                                    <th scope="col" width="10%">功能</th>
                                                </tr>
                                            </thead>
                                            <draggable class="dragArea" :list="gifts" :element="'tbody'">
                                                <tr v-for="(gift, index) in gifts">
                                                    <!--  機率-->
                                                    <td>
                                                        <div class="input-group justify-content-center"><span v-show="!gift.edit">{{ getChance(gift.chance) }}</span><input class="form-control form-control-sm" v-show="gift.edit" type="number" min="1" step="0.1" v-model.number="gift.chance" /></div>
                                                    </td>
                                                    <!--  背景色-->
                                                    <td :style="{'background-color': gift.backgroundColor || getDefaultGiftBackgroundColor(index)}">
                                                        <div class="input-group justify-content-center"><span v-show="!gift.edit">{{ gift.backgroundColor || '預設' }}</span><input class="mx-1" v-if="!isMobile" v-show="gift.edit" type="color" v-model="gift.backgroundColor" :style="{ width: '25px' }" /><input
                                                                class="form-control form-control-sm" v-show="gift.edit" type="text" v-model="gift.backgroundColor" :placeholder="getDefaultGiftBackgroundColor()" /></div>
                                                    </td>
                                                    <!--  文字色-->
                                                    <td :style="{'background-color': gift.textColor || config.textColor }">
                                                        <div class="input-group justify-content-center"><span v-show="!gift.edit">{{ gift.textColor || '預設' }}</span><input class="mx-1" v-if="!isMobile" v-show="gift.edit" type="color" v-model="gift.textColor" :style="{ width: '25px' }" /><input class="form-control form-control-sm"
                                                                v-show="gift.edit" type="text" v-model="gift.textColor" :placeholder="config.textColor" /></div>
                                                    </td>
                                                    <!-- 文字內容-->
                                                    <td>
                                                        <div class="input-group"><span v-show="!gift.edit">{{ gift.text }}</span><input class="form-control form-control-sm" v-show="gift.edit" type="text" v-model="gift.text" /></div>
                                                    </td>
                                                    <!--  文字大小-->
                                                    <td>
                                                        <div class="input-group justify-content-center"><span v-show="!gift.edit">{{ gift.textSize || '預設' }}</span><input class="form-control form-control-sm" v-show="gift.edit" type="number" v-model="gift.textSize" /></div>
                                                    </td>
                                                    <!--  功能按鈕-->
                                                    <td>
                                                        <div class="input-group text-center justify-content-center"><button class="btn btn-sm btn-outline-info mx-1" v-show="!gift.edit" @click.prevent="editGiftData(index)">編輯</button><button class="btn btn-sm btn-outline-danger mx-1" v-show="!gift.edit" @click.prevent="removeGiftData(index)">移除</button>
                                                            <button
                                                                class="btn btn-sm btn-outline-success mx-1" v-show="gift.edit" @click.prevent="saveGiftData(index)">儲存</button><button class="btn btn-sm btn-outline-secondary mx-1" v-show="gift.edit" @click.prevent="cancleGiftData(index)">取消</button></div>
                                                    </td>
                                                </tr>
                                            </draggable>
                                        </table>
                                    <!--  資料編輯模式-->
                                    </div><button class="btn btn-sm btn-outline-success px-5 mx-1" @click="addGiftData">新增區塊</button></div>
                                <div class="editByDate w-100 my-2" v-else="v-else"><textarea class="form-control form-control-sm w-100" :value="showGiftsToTextArea" @input="setGiftsByTextArea"></textarea></div>
                            </form>
                        </div>
                        <!--  轉盤設定-->
                        <div class="tab-pane fade py-3 px-1" id="edit-config" role="tabpanel">
                            <form class="form-inline row" @submit.prevent="">
                                <div class="form-group w-100 mb-3 col-md-4"><label class="mr-2">停止模式:</label>
                                    <div class="form-check ml-4 ml-sm-0 mr-sm-2"><input class="form-check-input" id="autoStopTrue" type="radio" name="autoStop" :value="true" v-model="config.autoStop" checked="checked" /><label for="autoStopTrue">自動</label></div>
                                    <div class="form-check ml-4 ml-sm-0"><input class="form-check-input" id="autoStopFalse" type="radio" name="autoStop" :value="false" v-model="config.autoStop" /><label for="autoStopFalse">手動</label></div>
                                </div>
                                <div class="form-group w-100 mb-3 col-md-8"><label class="mr-2">轉出資訊:</label>
                                    <div class="form-check ml-4 ml-sm-0 mr-sm-2"><input class="form-check-input" id="showAlertTrue" type="radio" name="showAlert" :value="true" v-model="config.showAlert" checked="checked" /><label for="showAlertTrue">顯示</label></div>
                                    <div class="form-check ml-4 ml-sm-0"><input class="form-check-input" id="showAlertFalse" type="radio" name="showAlert" :value="false" v-model="config.showAlert" /><label for="showAlertFalse">關閉</label></div>
                                </div>
                                <div class="form-group w-100 mb-3 col-md-4"><label>{{ config.autoStop ? '動畫時間長度(s):' : '轉10圈的轉速(s):' }}</label><input class="form-control form-control-sm w-100" type="number" min="1" step="1" v-model.number="config.runTime" /></div>
                                <div class="form-group w-100 mb-3 col-md-4"><label>轉盤尺寸設定(px):</label><input class="form-control form-control-sm w-100" type="number" step="1" min="150" v-model.number="config.baseSize" /></div>
                                <div class="form-group w-100 mb-3 col-md-4" v-if="config.autoStop"><label>最大回彈角度(百分比):</label><input class="form-control form-control-sm w-100" type="number" step="0.01" min="0.1" max="1" v-model.number="config.rollBackRange" :readonly="!config.autoStop" /></div>
                                <div class="form-group w-100 mb-3 col-md-4"><label>區塊預設色(單數):</label>
                                    <div class="input-group w-100"><input class="mx-1 my-1" v-if="!isMobile" type="color" v-model="config.singleColor" :style="{ width: '25px' }" /><input class="form-control form-control-sm" type="text" v-model="config.singleColor" /></div>
                                </div>
                                <div class="form-group w-100 mb-3 col-md-4"><label>區塊預設色(雙數):</label>
                                    <div class="input-group w-100"><input class="mx-1 my-1" v-if="!isMobile" type="color" v-model="config.doubleColor" :style="{ width: '25px' }" /><input class="form-control form-control-sm" type="text" v-model="config.doubleColor" /></div>
                                </div>
                                <div class="form-group w-100 mb-3 col-md-4"><label>區塊邊框寬度:</label><input class="form-control form-control-sm w-100" type="number" min="1" step="1" v-model.number="config.borderWidth" /></div>
                                <div class="form-group w-100 mb-3 col-md-4"><label>按鈕顏色:</label>
                                    <div class="input-group w-100"><input class="mx-1 my-1" v-if="!isMobile" type="color" v-model="config.buttonColor" :style="{ width: '25px' }" /><input class="form-control form-control-sm" type="text" v-model="config.buttonColor" /></div>
                                </div>
                                <div class="form-group w-100 mb-3 col-md-8"><label>按鈕文字:</label><input class="form-control form-control-sm w-100" type="text" v-model="config.buttonText" /></div>
                            </form>
                        </div>
                        <!--  設定集顯示區-->
                        <div class="tab-pane fade py-3 px-1" id="dataList" role="tabpanel"><template v-for="(data, index) in dataList"><button class="btn btn-sm btn-outline-info px-3 m-1" @click.prevent="loadData(index)">{{ data.dataName }}</button></template></div>
                    </div>
                </div>
                <!--  設定名稱-->
                <div class="modal-footer">
                    <form class="form-inline" @submit.prevent="">
                      <label class="mr-2">設定檔名稱:</label>
                      <input class="form-control form-control-sm" type="text" v-model="dataName" />
                    </form>
                    <!--  設定檔功能按鈕-->
                    <button class="btn btn-sm btn-outline-primary mx-1 px-3" @click.prevent="newData">新增</button>
                    <button class="btn btn-sm btn-outline-success mx-1 px-3" @click.prevent="saveData()">儲存</button>
                    <button class="btn btn-sm btn-outline-danger mx-1 px-3" v-if="dataNo !== 0" @click.prevent="deleteData(dataNo)">刪除</button>
                    <button class="btn btn-sm btn-outline-secondary mx-1 px-3" @click.prevent="setDefaultDatas()">預設</button>
                    <button class="btn btn-sm btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
  import draggable from 'vuedraggable';

  export default {
    name: 'TurnTable',
    components: { draggable },
    data() {
      return {
        /** 轉動狀態 */
        isRunning: false,
        /** 手機瀏覽器，用來開關input-color */
        isMobile: false,
        /** 編輯模式: true=區塊設定模式、false="資料編輯模式" */
        giftEditMode: true,
        /** 是否顯示設定按鈕 */
        showButtons: true,
        /** 編輯視窗背景透明度 */
        editAreaOpacity: 1,
        /** 轉動狀態 */
        turnStatus: {
          currentDeg: 0,
          targetDeg: 0,
          rollBackDeg: 0,
        },
        /** 獎項中獎角度儲存 */
        giftDegs: [],
        /** 中獎清單 */
        currentResult: '',
        resultList: [],
        /** 設定紀錄 */
        dataList: [],
        dataNo: 0,
        dataName: '預設',
        /** 獎項設定資料 */
        gift: {},
        defaultGift: {
          chance: 10,
          text: '',
          textColor: '',
          textSize: this.defaultGiftTextSize,
          backgroundColor: this.defaultGiftBackgroundColor,
          edit: true,
        },
        gifts: [],
        defaultGifts: [
          { chance: 10, text: 'RED', textColor: '', textSize: '', backgroundColor: '', edit: false },
          { chance: 10, text: 'BLUE', textColor: '', textSize: '', backgroundColor: '', edit: false },
        ],
        /** 轉盤設定 */
        config: {},
        defaultConfig: {
          autoStop: true,
          runTime: 6,
          rollBackRange: 0.25,
          showAlert: true,
          baseSize: 500,
          singleColor: '#b0e0e6',
          doubleColor: '#e4c6d0',
          borderWidth: 1,
          borderColor: '#ffffff',
          textColor: '#ffffff',
          buttonColor: '#f19393',
          buttonText: 'GO',
        },
      };
    },
      //------------------------------------
      // --設定檔 Methods
      //------------------------------------
      /** 新增設定檔 */
      newData() {
        this.dataName = '未命名';
        this.dataNo = this.dataList.length;
        this.setDefaultDatas();
      },
      /** 儲存設定檔 */
      saveData() {
        const currentData = {
          dataName: this.dataName,
          gifts: Array.from(this.gifts),
          config: Object.assign({}, this.config),
        };
        // 使用.$set可以避免下面兩種更動Array索引資料動態顯示上的問題
        this.$set(this.dataList, this.dataNo, currentData);
        // this.dataList[this.dataNo] = currentData; // 這會導致資料綁定的動態顯示失效
        // this.dataList.splice(this.dataNo, 0, currentData); // 這樣會一直新增XD
        // 存到localStrorage
        this.setDataListToLocalStorage();
      },
      /** 讀取設定檔 */
      loadData(index) {
        this.dataNo = index;
        this.dataName = this.dataList[index].dataName;
        this.gifts = this.dataList[index].gifts;
        this.config = this.dataList[index].config;
      },
      /** 刪除設定檔 */
      deleteData(index) {
        if (confirm('確定刪除這個設定檔嗎？')) {
          this.dataList.splice(index, 1);
          this.loadData(0);
        }
      },
      /** 還原設定資料至預設值 */
      setDefaultDatas() {
        this.gifts = this.getDefaultGfits();
        this.config = this.getDefaultConfig();
      },
      /** 儲存設定檔(LocalStorage) */
      setDataListToLocalStorage() {
        const localDatas = JSON.stringify(this.dataList);
        localStorage.setItem('turnTableDataList', localDatas);
      },
      /** 取得設定檔(LocalStorage) */
      getDataListFromLocalStorage() {
        return JSON.parse(localStorage.getItem('turnTableDataList'));
      },
      //------------------------------------
      // --獎品編輯 By List Methods
      //------------------------------------
      editGiftData(index) {
        const gift = this.gifts[index];
        gift.clone = Object.assign({}, gift);
        gift.edit = true;
      },
      saveGiftData(index) {
        const gift = this.gifts[index];
        delete gift.clone;
        gift.edit = false;
      },
      cancleGiftData(index) {
        let gift = this.gifts[index];
        gift = Object.assign(gift, gift.clone);
        delete gift.clone;
        gift.edit = false;
      },
      /** 移除獎品資料 */
      removeGiftData(index) {
        this.gifts.splice(index, 1);
      },
      //------------------------------------
      // --獎品編輯 Methods
      //------------------------------------
      /** 新增獎品資料 */
      addGiftData() {
        this.gifts.push(this.gift);
        this.setDefaultGift();
      },
      /** 取得獎品資料預設值 */
      getDefaultGfits() {
        return Array.from(this.defaultGifts);
      },
      /** 設定獎品資料(透過獎品編輯Object) */
      setGiftsByTextArea(e) {
        this.gifts = JSON.parse(e.target.value);
      },
      /** 設定獎品資料預設值 */
      setDefaultGift() {
        this.gift = Object.assign({}, this.defaultGift);
      },
      //------------------------------------
      // --轉盤編輯 Methods
      //------------------------------------
      /** 取得轉盤預設值 */
      getDefaultConfig() {
        // 計算當前視窗寬高，取低值*0.6當基準值設定轉盤大小
        const innerHeight = window.innerHeight;
        const innerWidth = window.innerWidth;
        this.defaultConfig.baseSize = innerHeight > innerWidth ?
          Math.floor(innerWidth * 0.8) : Math.floor(innerHeight * 0.6);
        return Object.assign({}, this.defaultConfig);
      },
      /** 儲存轉盤設定值(LocalStorage) */
      setConfigToLocalStorage() {
        const localConfig = JSON.stringify(this.config);
        localStorage.setItem('turnTableConfig', localConfig);
      },

      //------------------------------------
      // --轉盤內容 & 動畫 Methods
      //------------------------------------
      /** 轉盤內容繪製 */
      
      /** 轉動模式 */
      
      /** 手動模式(手動停止) */
      
      /** 自動模式(自動停止) */
      
      /** 自動模式停止事件(由繪製區的addEventListener('animationend')觸發) */
      
      /** 建立轉盤 */
      
      /** 更新轉盤角度資訊 */
      
    
    beforeMount() {
      // 檢查手機模式
      this.isMobile = this.checkMobile();
      // 區塊新增的基礎預設值設定
      this.setDefaultGift();
      // 若沒有儲存在LocalStorage中的資料就用預設值
      this.dataList = this.getDataListFromLocalStorage() || [];
      this.dataName = this.dataList[0] ? this.dataList[0].dataName : this.dataName;
      this.config = this.dataList[0] ? this.dataList[0].config : this.getDefaultConfig();
      this.gifts = this.dataList[0] ? this.dataList[0].gifts : this.getDefaultGfits();
    },
    
  };
</script>

<style lang="scss">
  //圖形樣式變數
  $turnTableSize: var(--turnTableSize);
  $buttonSize: var(--buttonSize);
  $buttonColor: var(--buttonColor);
  $buttonFontSize: var(--buttonFontSize);
  $arrowWidth: var(--arrowWidth);
  $arrowHeight: var(--arrowHeight);
  @mixin positionCenter($args:null) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) $args;
  }

  * {
    font-family: Microsoft JhengHei;
  }

  html {
    font-size: 14px;
  }

  .alert {
    font-size: 20px;
    &--show {
      z-index: 1;
      opacity: 0.7;
      transition: opacity 0.5s linear;
    }
  }

  .buttonArea {
    position: fixed;
    display: inline-block;
    right: 3vh;
    bottom: 3vh;
  }

  

  @keyframes AutoTrun {
    from {
      transform: rotate($currentDeg);
    }
    to {
      transform: rotate($targetDeg);
    }
  }

  @keyframes ManualTrun {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(7200deg);
    }
  }
</style>
