<template>
  <div id="app">
    <TurnTable/>
  </div>
</template>

<script>
import TurnTable from './components/Setting';

export default {
  name: 'app',
  components: {
    TurnTable,
  },

};
</script>
